@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

a:hover::after {
    content: "♥";
}

a:visited {
    color: gray;
}

img {
    height: auto;
    width: 500px;
}